<!DOCTYPE html>
<html>
<head>
	<title>Boilerplate</title>
	<link rel="stylesheet" type="text/css" href="<%= host %>/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="<%= host %>/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="<%= host %>/css/global.css">
</head>
<body>
	<div class="container">
		